:root {
  /* default colors  */
  --main-background-color: black;
  --main-text-color: white;

  /* fonts */
  --artist-main-font: "Megrim";

  /* carousel */
  --carousel-border-color-white: white;
  --carousel-border-color-black: black;
  --carousel-border-shadow-color: rgba(0, 0, 0, 0.1);

  /* artist name */
  --carousel-title-color: #ffffff;
  --carousel-subtitle-color: #dcdcdc;
  --carousel-title-shadow: #000000cc;
  --carousel-title-bg-gradient: linear-gradient(
    135deg,
    #ffffff4d 0%,
    #191717e6 100%
  );
  --carousel-subtitle-bg: #00000099;
  --carousel-border-radius: 1rem;
  --carousel-box-shadow: 0 4px 10px #0000004d;

  /* Navbar color variables */
  --navbar-background-color: #2c3e50;
  --navbar-text-color: #ecf0f1;
  --navbar-link-hover-color: #0a5481;
  --navbar-hover-bg-color: #3498db33;
  --navbar-shadow-color: #00000033;
  --navbar-transition-speed: 0.3s;

  /* navbar social media and contact */

  --contact-bg-color: #00000082;
  --contact-text-color: #333;
  --contact-link-color: #007bff;
  --contact-link-hover-color: #0056b3;
  --social-bg-color: #f5f5f5c4; /* Background color for social section */
  --social-icon-color: #555; /* Default color for icons */
  --social-icon-hover-color: #007bff; /* Hover color for icons */
  --social-icon-size: 2.5rem; /* Size of social icons */
  --social-link-spacing: 1.5rem; /* Space between icons */
  --social-icon-shadow: 0 4px 8px #00000033; /* Box shadow for hover effect */
  --facebook-color: #1877f2; /* Facebook Blue */
  --instagram-gradient: linear-gradient(
    45deg,
    #feda75,
    #d62976,
    #962fbf,
    #4f5bd5
  ); /* Instagram Gradient */
  --tiktok-color: #000000; /* TikTok Red */
  --icon-size: 2.5rem;
  --icon-hover-scale: 1.2;

  /* Sidebar specific */
  --sidebar-width: 50vw;
  --sidebar-mobile-width: 50vw;
  --sidebar-background-color: rgba(0, 0, 0, 0.379);
  --sidebar-backdrop-filter: blur(10px);
  --sidebar-text-color: #ecf0f1;
  --sidebar-link-bg: transparent;
  --sidebar-link-hover-bg: rgba(255, 255, 255, 0.635);
  --sidebar-border-color: rgba(255, 255, 255, 0.2);
  --sidebar-box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3);

  /* youtube */
  --youtube-slider-bg: #000000e6;
  --youtube-slider-color: #ffffff;
  --youtube-border-radius: 0.5rem;
  --youtube-arrow-hover-bg: rgba(255, 255, 255, 0.2);

  /* music */
  --primary-color: #ffffff;
  --secondary-color: rgba(0, 0, 0, 0.33);
  --highlight-color: rgba(255, 255, 255, 0.9);
  --background-overlay: rgba(0, 0, 0, 0.5);
  --hover-overlay: rgba(255, 255, 255, 0.1);
  --button-shadow: 1px 1px 2px var(--secondary-color);
  --text-shadow: 1px 1px 2px var(--secondary-color);
  --fadein-duration: 0.5s;
  --fadeout-duration: 0.5s;
}
