.mainContainerMusic {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../images/008.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  background: url("../images/001.jpg");
  background-size: cover;
  background-position: center;
}
#title {
  position: absolute;
  width: 100%;
  top: 3%;
  line-height: 34px;
  height: 34px;
  text-align: center;
  font-size: 1rem;
  opacity: 0.9;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  background-color: rgba(0, 0, 0, 0.329);
}
#timer {
  position: absolute;
  top: 0;
  left: 3%;
  text-align: left;
  font-size: 26px;
  opacity: 0.9;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}
#duration {
  position: absolute;
  top: 0;
  right: 3%;
  text-align: right;
  font-size: 26px;
  opacity: 0.5;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

/* Controls */
.controlsOuter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 3%;
  right: 0%;
  left: 0%;
}
.controlsInner {
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  cursor: pointer;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}

#playBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
  width: 4.3125rem;
  height: 4.375rem;
}

#playBtn svg {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  fill: none;
  color: var(--primary-color);
  transition: transform 0.2s ease-in-out;
}

#playBtn:hover svg {
  transform: scale(1.1);
}

#pauseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 4.3125rem;
  height: 4.375rem;

  display: none;
}

#pauseBtn svg {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  fill: none;
  color: var(--primary-color);
  transition: transform 0.2s ease-in-out;
}

#pauseBtn:hover svg {
  transform: scale(1.1);
}

#prevBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 2.1875rem;
  height: 2.1875rem;

  transition: transform 0.2s ease-in-out;
}

#prevBtn svg {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  fill: none;
}

#prevBtn:hover svg {
  transform: scale(1.1);
  color: var(--highlight-color);
}

#nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 2.1875rem;
  height: 2.1875rem;

  transition: transform 0.2s ease-in-out;
}

#nextBtn svg {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  fill: none;
  color: var(--primary-color);
}

#nextBtn:hover svg {
  transform: scale(1.1);
}

#playlistBtn {
  background: none;
  border: none;
  cursor: pointer;
  width: 2.1875rem;
  height: 2.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease-in-out;
}

#playlistBtn svg {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  fill: none;
}

#playlistBtn:hover svg {
  transform: scale(1.1);
}

#volumeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  width: 2.1875rem;
  height: 2.1875rem;
  transition: transform 0.2s ease-in-out;
}

#volumeBtn svg {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  fill: none;
}

#volumeBtn:hover svg {
  transform: scale(1.1);
  color: var(--highlight-color);
}

/* Progress */
#waveform {
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  top: 50%;
  margin: -15% auto;
  display: none;
  cursor: pointer;
  opacity: 0.8;
  -webkit-user-select: none;
  user-select: none;
}
#waveform:hover {
  opacity: 1;
}
#bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #afadb7e6;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  opacity: 0.9;
  z-index: 3;
}
#progress {
  position: absolute;
  top: 50;
  left: 0;
  width: 0%;
  height: 22%;
  background-color: rgba(50, 5, 134, 0.635);
  border-radius: 1rem;
  z-index: 2;
}

/* Loading */
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px;
  width: 70px;
  height: 70px;
  background-color: #b50b0b;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
  display: none;
  z-index: 30;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* Playlist */
#playlist {
  width: 100%;
  height: 100vh;
  background-color: #000000cc;
  display: none;
  overflow-y: auto;
  z-index: 10;

  position: relative; /* Needed for child absolute positioning */
}

#list {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000000f5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the list */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.4rem;
}

.list-song {
  width: 90%;
  max-width: 600px;
  height: 4rem;
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
  font-weight: lighter;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.list-song:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05); /* Slightly enlarge on hover */
  cursor: pointer;
}

/* Volume */
#volume {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  touch-action: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none;
}
.bar {
  position: absolute;
  top: 50%;
  left: 5%;
  margin: -5px auto;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}
#barEmpty {
  width: 90%;
  opacity: 0.5;
  box-shadow: none;
  cursor: pointer;
}
#barFull {
  width: 90%;
}
#sliderBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 93.25%;
  margin: -25px auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
  border-radius: 25px;
  cursor: pointer;
}

/* Fade-In */
.fadeout {
  webkit-animation: fadeout 0.5s;
  -ms-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}
.fadein {
  webkit-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* MEDIA



*/

@media (max-width: 768px) {
  #pauseBtn {
    width: 3.5rem;
    height: 3.5rem;
  }
  #playBtn {
    width: 3.5rem;
    height: 3.5rem;
  }
  #nextBtn {
    width: 1.875rem;
    height: 1.875rem;
  }
  #prevBtn {
    width: 1.875rem;
    height: 1.875rem;
  }
  #volumeBtn {
    width: 1.875rem;
    height: 1.875rem;
  }
  #playlistBtn {
    width: 1.875rem;
    height: 1.875rem;
  }
  .list-song {
    font-size: 1.25rem;
    height: 3.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 480px) {
  #pauseBtn {
    width: 3rem;
    height: 3rem;
  }
  #nextBtn {
    width: 1.5rem;
    height: 1.5rem;
  }
  #prevBtn {
    width: 1.5rem;
    height: 1.5rem;
  }
  #volumeBtn {
    width: 1.5rem;
    height: 1.5rem;
  }
  #playlistBtn {
    width: 1.5rem;
    height: 1.5rem;
  }
  .controlsInner {
    width: 150px;
  }
  .list-song {
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
  }
}
