.sidebar {
  width: var(--sidebar-width);
  height: 80vh;
  position: fixed;
  top: 0;
  left: calc(-1 * var(--sidebar-width));
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  transition: left var(--navbar-transition-speed) ease-in-out;
  box-shadow: var(--sidebar-box-shadow);
  overflow-y: auto;
  border-right: 1px solid var(--sidebar-border-color);
  z-index: 70;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.open {
  left: 0;
}

.hamburger {
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  left: 2rem;
  color: var(--navbar-text-color);
  z-index: 80;
  transition: opacity var(--navbar-transition-speed);
}

.sidebar.open + .hamburger {
  opacity: 0;
  pointer-events: none;
}

.sidebarA {
  display: block;
  padding: 0.8rem 1rem;
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-link-bg);
  text-decoration: none;
  font-size: 1rem;
  margin: 0.5rem 0;
  transition: color var(--navbar-transition-speed);
  background-color: var(--navbar-transition-speed);
}

.sidebarA:hover {
  color: var(--navbar-link-hover-color);
  background-color: var(--sidebar-link-hover-bg);
}

/* social media and contact */

.contact-section {
  background-color: var(--contact-bg-color);
}
.contact-section-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: color var(--navbar-transition-speed);
  padding: 0.8rem 1rem;
}
.contact-section-flex:hover {
  color: var(--contact-link-hover-color);
  background-color: var(--sidebar-link-hover-bg);
}

.contact-heading {
  font-size: 1rem;
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-link-bg);
}

.contact-link {
  color: var(--sidebar-text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-left: 1rem;
}

.contact-link:hover {
  color: var(--contact-link-hover-color);
}
.contact-link-email {
  color: var(--sidebar-text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-left: 1rem;
}

.contact-link-email:hover {
  color: var(--contact-link-hover-color);
}

/* contact icons */
.contact-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #007bff;
  margin-right: 0.5rem;
  vertical-align: middle;
  transition: fill 0.3s ease;
}

.contact-icon:hover {
  fill: #0056b3;
}

/* social media */

.social-links {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--social-bg-color);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 0.3s ease;
}

.social-link:hover {
  transform: scale(var(--icon-hover-scale));
}

/* Facebook Icon */
.social-link:nth-child(1) i {
  color: var(--facebook-color);
}

/* Instagram Icon with Gradient */
.social-link:nth-child(2) i {
  background: var(--instagram-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* TikTok Icon */
.social-link:nth-child(3) i {
  color: var(--tiktok-color);
}

.social-link i {
  font-size: var(--icon-size);
  transition: color 0.3s ease, transform 0.3s ease;
}

/* ----- */

@media (max-width: 768px) {
  .sidebar {
    width: var(--sidebar-mobile-width);
  }

  .hamburger {
    font-size: 2.5rem;
    top: 1rem;
    left: 1rem;
  }
  .contact-section-flex {
    padding: 0.3 0.3;
  }

  .contact-heading {
    font-size: 0.8rem;
  }
  .contact-link {
    font-size: 0.8rem;
  }
  .contact-link-email {
    font-size: 0.5rem;
    margin-left: 0.2rem;
  }
}

@media (max-width: 480px) {
  .hamburger {
    font-size: 2.5rem;
    top: 1rem;
    left: 1rem;
  }

  .sidebar {
    width: 75vw;
  }
}
