* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  /* font-family: var(--artist-main-font), Arial, sans-serif; */
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body {
  scroll-behavior: smooth; /* Smooth scrolling for a polished effect */
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: rgb(255, 255, 255);
}

/* ---------------------------- */
