* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  /* font-family: var(--artist-main-font), Arial, sans-serif; */
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
